name: Publish

on:
  pull_request:
    branches: [main]
  push:
    tags: ["v[0-9]+.[0-9]+.[0-9]+"]

jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    uses: dart-lang/ecosystem/.github/workflows/publish.yaml@main
# trigger comment
